@use '../../App';

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 30px;
    height: 25px;
    right: 20px;
    top: 20px;
    transition: .5s, top .5s;
    @media ((min-width: 768px) and (max-width: 1023px)) {
      width: 50px;
      height: 40px;
    }

    @media (min-width: 1024px) {
        display: none;
    }
  }

  .invisible {
    transition: .5s, top .5s;
    top: -100px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: App.$White;
    border-radius: 2px;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: App.$Light-Purple;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    margin: 10px;
    transform: scale(2.0);
    
    @media ((min-width: 768px) and (max-width: 1023px)) {
      margin: 10px;
      transform: scale(3.0);
    }
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: App.$White;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    top: 0;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: radial-gradient(
      100% 100% at bottom left, 
      rgba(26, 0, 68, 1.0) 0%,
      rgba(10,10,10,1.0) 100%
    );
    padding: 1.5em .5em 0;
    font-size: 1.15em;
    box-shadow: -5px 0px 30px black;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    padding: 10px;
    @include App.flex($direction: column, $justify: center);
  }
  
  /* Individual item */
  .bm-item {
    margin-bottom: 20px;
    a {
        color: App.$White; 
        text-align: left;
        text-decoration: none;
        font-family: App.$Montserrat;
        font-size: 8vmin;

        @media (min-width: 1024px) {
            font-size: 4vmin;
        }
    }
    a:hover {
        color: App.$Light-Purple;
    }

  }

  
  /* Styling of overlay */
  .bm-overlay {
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
  }