@use '../../App';

/*.header {
    height: auto;
    background: App.$Medium-Purple;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    z-index: 1;
    transition: top 0.3s
}*/