@import '../index.scss';
.featured-section {

  margin-bottom: 50px;
  padding: 0 4vmin 0 4vmin;
      
    .featured-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      @media (min-width: 1024px) {
        flex-wrap: nowrap;
      }
    }
    
    .item1 {
      padding: 2vmin;
    }

    .featured-card {
      width: 100%;
      height: auto;
      margin: 2vmin 0vmin;
      padding: 4vmin;
      justify-content: space-between;
      flex-direction: column;
      display: flex;
      text-align: left;
      border-radius: 5px;
      @media (min-width: 1024px) {
        justify-content: space-between;
        flex-direction: column;
        display: flex;
        width: 150vmin;
        margin: 0vmin;
        padding: 1vmin 2vmin;
      }
  
      .featured-header {
        padding: 1vmin;
      }

      .featured-pre {
        font-size: 2.5vmin;
      }
      
      .featured-title {
        margin: 0 0 2vmin 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $Light-Gray;
    
        h4 {
          color: $White;
          font-family: $Alumni;
          font-size: 6vmin;
          padding: 0 0 .1vmin 0vmin;
    
          @media (min-width: 1024px) {
            font-size: 5vmin;
          }
        }
      }
      
      .fa-arrow-up-right-from-square {
        margin: 1vmin;
        color: $Light-Purple;
        font-size: 6vmin;
        @media (min-width: 1024px) {
          font-size: 3vmin;
        }
      }
      
      .fa-github {
        margin: 1vmin;
        color: $Light-Purple;
        font-size: 6vmin;
        @media (min-width: 1024px) {
          font-size: 3vmin;
        }
      }
      
      .featured-body {
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        padding: 1vmin;
    
        p {
            font-size: 4vmin;
            line-height: 1.3;
            @media (min-width: 1024px) {
              font-size: 2vmin;
            }
        }
      }
      
      .featured-footer {
        justify-content: center;
        flex-direction: column;
        display: flex;
        padding: 3vmin 1vmin 1vmin 1vmin;
        @media (min-width: 1024px) {
          padding: 2vmin 1vmin 0vmin 1vmin;
        }
    
        p {
            color: $White;
            font-size: 3vmin;
            @media (min-width: 1024px) {
              font-size: 2vmin;
            }
        }
      }
  
    }
      
    img{
        width: 100%;
        height: auto;
        border-radius: 5px;
        @media (min-width: 1024px) {
          width: 100%;
        }
    }
}
