  /*Job*/
  @import '../index.scss';

  .job-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1vmin 2vmin 1vmin 2vmin;
    overflow: hidden;
    height: auto;
    transition: all .5s ease-in-out;
    flex: 1 1 auto;
    text-align: left;
    border-bottom: 1px solid $Light-Gray;
  }
  
  .job-wrapper:hover {
    background: $Medium-Purple;
    border-bottom: 1px solid $Light-Purple;
  }
  
  .job {
    padding: 1vmin;

    .job-header {
        display: flex;
        justify-content: space-between;
    
        p{
            font-size: 2vmin;
            margin: auto 0 auto 0;
            color: $Light-Gray;
        }
    }
      
    .job-body {
        height: auto;
        transition: all .5s ease-in-out;
        p{
            color: $Light-Purple;
        }
    }

    .list-wrapper {
        display: flex;
        justify-content: left;
    }
  }
  
  /*.job-wrapper:active {
    height: 35vmin;
    transition: all .5s ease-in-out;
  }*/
