/*Project Card*/
@import '../index.scss';

.card {
    width: 40vmin;
    height: auto;
    margin: 2vmin;
    padding: 2vmin;
    background: rgb(35, 35, 35);
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    box-shadow: 0 2px 8px black;
    text-align: left;
    transition: all .3s ease-in-out;
  }
  
  .card:hover {
    box-shadow: 0 5px 15px black;
    transition: all .3s ease-in-out;
  }
  
  .card-header {
    padding: 1vmin;
  }
  
  .card-image {
    width: 100%;
    height: auto;
  }
  
  .card-title {
    margin: 0 0 2vmin 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $Light-Gray;
  }
  
  .fa-arrow-up-right-from-square {
    margin: 1vmin;
    color: $Light-Purple;
    font-size: 3vmin;
  }
  
  .card .fa-github {
    margin: 1vmin;
    color: $Light-Purple;
    font-size: 3vmin;
  }
  
  .card-body {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding: 1vmin;

    p {
        font-size: 2vmin;
        line-height: 1.3;
    }
  }
  
  .card-footer {
    justify-content: center;
    flex-direction: column;
    display: flex;
    padding: 2vmin 1vmin 0vmin 1vmin;

    p {
        font-size: 1.7vmin;
    }
  }
  