/*Project*/
@use '../../App';

#projects-section {
    @include App.sectionPadding;

    background: radial-gradient(
      500px 500px at bottom right,  
      rgba(26, 0, 68, 1.0) 0%, 
      rgba(20,20,20,0) 100%
    ), radial-gradient(
      500px 500px at top left, 
       rgba(26, 0, 68, 1.0) 0%,
       rgba(20,20,20,0) 100%
    );

    .container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }