@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Bebas+Neue&family=Montserrat&display=swap');

/* Color Palette*/
$White: rgb(229, 229, 229);
$Yellow: rgb(255, 233, 178);
$Light-Gray: rgb(153, 153, 153);
$Light-Purple: rgb(144, 84, 244);
$Medium-Purple: rgb(87, 39, 163);
$Dark-Purple: rgba(26, 0, 68, 1.0);

$Bebas: 'Bebas Neue', cursive;
$Alumni: 'Alumni Sans Pinstripe', sans-serif;
$Montserrat: 'Montserrat', sans-serif;


/*Global styles*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background: $Dark-Purple; 
  font-size: 16px; 
  font-family: $Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header,section {
  padding: 20px;
  text-align: left;
}

img {
  height: auto;
  width: 100%;
}

/*Buttons*/
button {
  margin: 5vmin 0 0 0;
  padding: 2px 10px 2px 10px;
  border: 2px solid var(--Medium-Purple);
  border-radius: 5px;
  background-color: transparent;
  color: var(--Medium-Purple);
  font-family: var(--P-Font);
  font-size: 4vmin;
}

button:hover {
  background-color: rgba(173, 122, 255,40%);
}

/*Hidden class for animations*/
.hidden {
  display: none;
}

/*Filler class for flexbox stuff*/
.filler {
  flex: 1 1 auto;
}

/*Headings and Text*/
/*
H1: Hero content
H2: Section headings
H3: Job titles
H4: Project titles
*/

h1 {
  font-family: $Bebas;
  font-size: 20vmin;
  color: $Light-Purple;
  margin: 0vmin 0 -5vmin 0;
  line-height: normal;
}

h2 {
  display: flex;
  flex-direction: row;
  font-size: 7vmin;
  margin: 5vmin;
  color: $White;
  font-family: $Bebas;
}

h2:before, h2:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
  color: $White;
}

h2:before {
  margin-right: 10px
}

h2:after {
  margin-left: 10px
}

h3 {
  color: $White;
  font-family: $Alumni;
  font-size: 5vmin;
}

h4 {
  color: $White;
  font-family: $Alumni;
  font-size: 4vmin;
  padding: 0 0 .1vmin 0vmin;
}

p {
  color: $Light-Gray;
  font-family: $Montserrat;
  font-size: 3vmin;
  line-height: 4vmin;
}

.styled-text {
  color: $Light-Purple;
}

.flex-center {
  display: flex;
  justify-content: center;
}
